background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #090063; /* Azul oscuro */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.field {
    margin-bottom: 15px;
    text-align: left;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    margin: 0 5px;
}